{% extends "base.html" %}
{% block title %}Edit Client{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<p>
				Edit Mandat.
			</p>
			<form method="POST" action="{{ url_for('mandats_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Mandat
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Temps Estime en H
                            </th>
                            <th>
                                Cout Estime
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_mandat_edit_html" value="{{ row.id_Mandat }}" readonly/>
                                </td>
                                <td>
                                    <input type = "text" name = "description_mandat_edit_html" value="{{ row.Description_Mandat }}"/>
                                </td>
                                <td>
                                    <input type = "number" name = "estimationtemps_mandat_edit_html" value="{{ row.EstimationTemps_Mandat }}"/>
                                </td>
                                <td>
                                    <input type = "number" name = "coutestime_mandat_edit_html" value="{{ row.CoutEstime_Mandat }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>

                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}