{% extends "base.html" %}
{% block title %} Afficher Mandats {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id Mandat
                        </th>
                        <th class="align-middle">
                            Desription
                        </th>
                        <th class="align-middle">
                            Estimation Temps en H
                        </th>
                        <th class="align-middle">
                            Cout Estime
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Mandat }}
						</td>
						<td class="align-middle">
							{{ row.Description_Mandat }}
						</td>
						<td class="align-middle">
							{{ row.EstimationTemps_Mandat|default("", True) }}
						</td>
                        <td class="align-middle">
							{{ row.CoutEstime_Mandat|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('mandats_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('mandats_edit', id_mandat_edit_html=row.id_Mandat) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('mandats_select_delete', id_mandat_delete_html=row.id_Mandat) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun Mandat.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}