{% extends "base.html" %}
{% block title %}DELETE MANDAT{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce mandat.
			</p>
			<form method="POST" action="{{ url_for('mandats_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Mandat
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Temps Estime en H
                            </th>
                            <th>
                                Cout Estime
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_mandat_delete_html" value="{{ row.id_Mandat }}" readonly/>
                                </td>
                                <td>
                                    {{ row.Description_Mandat}}
                                </td>
                                <td>
                                    {{ row.EstimationTemps_Mandat }}
                                </td>
                                <td>
                                    {{ row.CoutEstime_Mandat }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}