{% extends "base.html" %}
{% block title %} Ajouter une Adresse{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Veuillez entrer un mandat
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_Client">
						Description
					</label>
					<input type ="text" class="form-control" name="description_mandat_html" />
                    <label for="Prenom_Client">
						Temps Estime en H
					</label>
                    <input type ="number" class="form-control" name="estimationtemps_mandat_html" step="any" />
                    <label for="Prenom_Client">
						Cout Estime
					</label>
                    <input type ="number" class="form-control" name="coutestime_mandat_html" step="any"  />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer mandat
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}