{% extends "base.html" %}
{% block title %}Edit EMPLOYE{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<p>
				Edit EMPLOYE.
			</p>
			<form method="POST" action="{{ url_for('employes_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Employe
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prenom
                            </th>
                            <th>
                                Poste
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_employe_edit_html" value="{{ row.id_Employe }}" readonly/>
                                </td>
                                <td>
                                    <input type = "text" name = "nom_employe_edit_html" value="{{ row.Nom_Employe }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "prenom_employe_edit_html" value="{{ row.Prenom_Employe }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "poste_employe_edit_html" value="{{ row.Poste_Employe }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}