{% extends "base.html" %}
{% block title %} Afficher EMPLOYES {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id Employe
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
                            Prenom
                        </th>
                        <th class="align-middle">
                            Poste
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Employe }}
						</td>
						<td class="align-middle">
							{{ row.Nom_Employe }}
						</td>
						<td class="align-middle">
							{{ row.Prenom_Employe|default("", True) }}
						</td>
                        <td class="align-middle">
							{{ row.Poste_Employe|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('employes_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('employes_edit', id_employe_edit_html=row.id_Employe) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('employes_select_delete', id_employe_delete_html=row.id_Employe) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun Employé.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('employes_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}