{% extends "base.html" %}
{% block title %} Ajouter une Employe{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvel Employe
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_Employe">
						Nom
					</label>
					<input type ="text" class="form-control" name="nom_employe_html" />
                    <label for="Prenom_Employe">
						Prenom
					</label>
                    <input type ="text" class="form-control" name="prenom_employe_html" />
                    <label for="Poste_Employe">
						Poste
					</label>
                    <input type ="text" class="form-control" name="poste_employe_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer l'employer
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}