{% extends "base.html" %}
{% block title %}DELETE EMPLOYE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer cette Employe.
			</p>
			<form method="POST" action="{{ url_for('employes_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Employe
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prenom
                            </th>
                            <th>
                                Poste
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_employe_delete_html" value="{{ row.id_Employe }}" readonly/>
                                </td>
                                <td>
                                    {{ row.Nom_Employe}}
                                </td>
                                <td>
                                    {{ row.Prenom_Employe }}
                                </td>
                                <td>
                                    {{ row.Poste_Employe }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}