{% extends "base.html" %}
{% block title %} Ajouter un TELEPHONE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau Telephone
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_genre">
						Nom Telephone
					</label>
					<input type ="text" class="form-control" name="numero_telephone_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le Telephone
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
