{% extends "base.html" %}
{% block title %}Edit Telephone{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce numero de telephone.
			</p>
			<form method="POST" action="{{ url_for('genres_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Telephone
                            </th>
                            <th>
                                Numero Telephone
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_telephone_edit_html" value="{{ row.id_Telephone }}" readonly/>
                                </td>
                                <td>
                                    <input type = "number" name = "numero_telephone_edit_html" value="{{ row.Numero_Telephone }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
