{% extends "base.html" %}
{% block title %} Afficher Telephone {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Numero Telephone
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Telephone }}
						</td>
						<td class="align-middle">
							{{ row.Numero_Telephone }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genres_edit', id_telephone_edit_html=row.id_Telephone) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('genre_select_delete', id_telephone_delete_html=row.id_Telephone) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun Telephone.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}