{% extends "base.html" %}
{% block title %} Afficher Adresses {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom Adresse
                        </th>
                        <th class="align-middle">
                            Code Postale
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Adresse }}
						</td>
						<td class="align-middle">
							{{ row.Nom_Adresse }}
						</td>
						<td class="align-middle">
							{{ row.CodePostal|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('adresses_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('adresses_edit', id_adresse_edit_html=row.id_Adresse) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('adresses_select_delete', id_adresse_delete_html=row.id_Adresse) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune Adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}