{% extends "base.html" %}
{% block title %}Edit Client{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<p>
				Edit Client.
			</p>
			<form method="POST" action="{{ url_for('adresses_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Adresse
                            </th>
                            <th>
                                Nom Adresse
                            </th>
                            <th>
                                Code Postal
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_adresse_edit_html" value="{{ row.id_Adresse }}" readonly/>
                                </td>
                                <td>
                                    <input type = "text" name = "nom_adresse_edit_html" value="{{ row.Nom_Adresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "codepostale_adresse_edit_html" value="{{ row.CodePostal }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}