{% extends "base.html" %}
{% block title %} Ajouter une ADRESSE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle adresse
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_Client">
						Nom Adresse
					</label>
					<input type ="text" class="form-control" name="nom_adresse_html" />
                    <label for="Prenom_Client">
						Code Postale
					</label>
                    <input type ="text" class="form-control" name="codepostale_adresse_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer l'adresse
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}