{% extends "base.html" %}
{% block title %}DELETE ADRESSE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer cette Adresse.
			</p>
			<form method="POST" action="{{ url_for('adresses_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Adresse
                            </th>
                            <th>
                                Nom Adresse
                            </th>
                            <th>
                                Code Postale
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_adresse_delete_html" value="{{ row.id_Adresse }}" readonly/>
                                </td>
                                <td>
                                    {{ row.Nom_Adresse}}
                                </td>
                                <td>
                                    {{ row.CodePostal }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}