{% extends "base.html" %}
{% block title %} Ajouter un Client{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau Client
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_Client">
						Nom Client
					</label>
					<input type ="text" class="form-control" name="nom_client_html" />
                    <label for="Prenom_Client">
						Prénom Client
					</label>
                    <input type ="text" class="form-control" name="prenom_client_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le Client
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}