{% extends "base.html" %}
{% block title %} Afficher CLIENTS {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom Client
                        </th>
                        <th class="align-middle">
                            Prenom Client
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Client }}
						</td>
						<td class="align-middle">
							{{ row.Nom_Client }}
						</td>
						<td class="align-middle">
							{{ row.Prenom_Client|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('films_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('films_edit', id_client_edit_html=row.id_Client ) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('films_select_delete', id_client_delete_html=row.id_Client) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun client.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('films_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
