{% extends "base.html" %}
{% block title %}DELETE CLIENTS{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce Client.
			</p>
			<form method="POST" action="{{ url_for('films_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Client
                            </th>
                            <th>
                                Nom Client
                            </th>
                            <th>
                                Prenom Client
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_client_delete_html" value="{{ row.id_Client }}" readonly/>
                                </td>
                                <td>
                                    {{ row.Nom_Client}}
                                </td>
                                <td>
                                    {{ row.Prenom_Client }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}