{% extends "base.html" %}
{% block title %}Edit Client{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<p>
				Edit Client.
			</p>
			<form method="POST" action="{{ url_for('films_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Client
                            </th>
                            <th>
                                Nom Client
                            </th>
                            <th>
                                Prenom Client
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="id_client_edit_html" value="{{ row.id_Client }}" readonly/>
                                </td>
                                <td>
                                    <input type = "text" name = "nom_client_edit_html" value="{{ row.Nom_Client }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "prenom_client_edit_html" value="{{ row.Prenom_Client }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}