{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Exercice 3 :
			</h3>
			<p>
				La suite du vrai début de votre projet !!!!<br>
			</p>
			<ul>
				<li class="list-item">
					Après avoir récupéré en local mon code sur GITLAB. Il faut être capable avec PyCharm de comparer deux répertoires de projets. (CTRL-D)<br>
					<a href="https://www.epsic.ch/secure/moodle/mod/book/view.php?id=7130&chapterid=132" target="_blank">PyCharm : COMPARER DEUX PROJETS</a><br>
					Vous pouvez voir ce qui a changé entre la version "exercice 2" et "exercice 3". (Fichiers et code)
				</li>
				<li class="list-item">
					Il faut que mon code soit adapté à votre base de données.
				</li>
				<li class="list-item">
					La table intermédiaire "t_genres_films" a son système de "TAGS". Votre table intermédiaire doit aussi avoir ce système de "TAGS".<br>A l'aide de la souris, on associe un(des) genre(s) à un client, de façon assez rapide et simple.<br>Il s'agit d'une liste déroulante avec choix multiple. Cette liste a l'avantage d'afficher dans un petit espace tous les genres disponibles, ainsi l'utilisateur n'est pas obligé de faire défiler toute la liste déroulante.
				</li>
			</ul>
			<h3>
				Pour cette démo :
			</h3>
			<ul>
				<li class="list-item">
					Il y a un template CSS (enfin !!!).
				</li>
				<li class="list-item">
					On peut réaliser toutes les actions CRUD (Create Read Update Delete) sur la table "t_genres".
				</li>
				<li class="list-item">
					Pour t_films uniquement l'action Read (afficher).
				</li>
				<li class="list-item">
					Pour t_genres_films (la table intermédiaire) on peut ajouter un ou des genres au client sélectionné, ou on peut les enlever.
				</li>
				<li class="list-item">
					Pour ajouter (gérer) un genre, il faut cliquer sur "genres" du menu au haut de la page.
				</li>
			</ul>
			<h3>
				Délai pour l'exercice 3 :
			</h3>
			<ul>
				<li class="list-item">
					Lorsque votre exercice 3 est terminé. Vous devez me le rendre sur MOODLE de l'epsic, le jeudi 21.05.2020.
				</li>
				<li class="list-item">
					Dès que vous avez rendu l'exercice 3, vous pouvez enfin terminer votre projet complet. Bon travail.
				</li>
			</ul>
			<h3>
				Pour progresser :
			</h3>
              <p>
                  ...il faut lire mes commentaires, ainsi vous saurez ce qui se cache derrière MON traitement de données.<br>
				  J'ai placé des "print" partout, il y en a tellement qu'ils étouffent la beauté et la lecture du code Python !<a href="https://www.expressio.fr/expressions/peu-me-chaut" target="_blank"> "peu me chaut"</a>, l'important c'est que vous soyez autonome.<br>
                Si vous ne comprenez toujours pas, faites des recherches sur l’Internet, suivez quelques tutos.<br>
				  Si vous ne comprenez toujours rien..., je suis là !!!<br><br>
                Après avoir copié et adapté mon code, il faudra que votre code soit commenté (ce que vous avez ajouté).<br>
                C'est une condition de validation de ce module 104.<br>
                Dans le code, je montre différentes façons pour rediriger les erreurs vers les pages HTML, rien n'est idéal.<br>
                Mais sans la gestion des erreurs votre projet n'est pas validé pour ce module 104.<br>
                Suivez les directives et vous serez sur le bon "rail", la bonne "voie"... <br>
                écartez-vous de ce que JE demande et c'est le déraillement.<br><br>
			</p>
            <p>
            Si vous avez des questions, envoyez un mail avec le sujet "URGENT" à l'adresse habituelle.<br>
            Bon travail et courage pour cette situation complètement hallucinante.(le covid-19...pas le module 104)
            <br>
            OM pas à la 707, mais ailleurs !
            </p>
		</div>
	</div>
</div>
{% endblock %}